.wrapper {
  background-color: #292d42;
  width: 256px;
  height: 100vh;
  background-image: url(../bg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  color: white;
  transition: width 0.1s ease-in-out;
  position: fixed;
  overflow-y: overlay;
  overflow-x: hidden;
}

.top {
  padding: 40px 32px;
}

.minimizeButton {
  display: flex;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  margin-bottom: 40px;

  & span {
    margin-left: 10px;
  }
}

.title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

.links {
  padding: 0px 16px;
}

.minimized {
  width: 28px;

  & .minimizeButton {
    & svg {
      margin: 0 auto;
      transform: rotate(180deg);
    }

    & span {
      display: none;
    }
  }

  .top {
    padding: 20px 0px;
  }

  .links {
    display: none;
  }

  .title {
    display: none;
  }
}
