.wrapper {
  margin-bottom: 8px;
}

.info {
  display: flex;
  align-items: center;

  & svg {
    width: 21px;
    margin-right: 20px;
  }
}

.link {
  display: flex;
  align-items: center;
  font-weight: 600;
  user-select: none;
  justify-content: space-between;
  font-size: 16px;
  padding: 16px;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 8px;
  transition: 0.3s ease-out background-color;

  &:hover {
    background-color: #8997e7;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.arrow {
  transition: 0.3s ease-out all;
}

.arrowDown {
  transform: rotate(-180deg);
}

.opened {
  background-color: #8997e7;
}

.subLink {
  padding: 16px 16px 16px 57px;
  cursor: pointer;
  margin-bottom: 9px;
  border-radius: 8px;
  user-select: none;
  transition: 0.3s ease-out background-color;

  &:hover {
    background-color: #8997e7;
  }
}
